body {
    background-color: black;
    background-size: cover;
    text-align: center;
    font-family: 'Press Start 2P', cursive !important;
}
label {
    color: white;
}
#logo {
    width: calc(1080px * 0.85);
    margin: 20px;
}
#palette1, #palette2, #ball1, #ball2 {
    z-index: -1;
}
#palette1 {
    position: absolute;
    width: 200px;
    top: 20%;
    left: 0;
}
#palette2 {
    position: absolute;
    width: 200px;
    top: 60%;
    right: 0;
}
#ball1 {
    position: absolute;
    width: 100px;
    top: 60%;
    left: 5%;
}
#ball2 {
    position: absolute;
    width: 100px;
    top: 30%;
    right: 5%;
}
.wrapper {
    width: 100%;
    height: calc(100% - 125px);
    text-align: center;
}
.wrapper canvas {
    width: calc(1080px * 0.8);
    height: calc(720px * 0.8);
    border: 2px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    background: black;
    z-index: 0;
}
#inputBox {
    position: absolute;
    width: 400px;
    height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px;
    border: 1px solid #ff0df4;
    box-shadow: 0 0 5px rgba(255, 13, 244, 1);
    background: black;
    display: inline-block;
    z-index: 2;
}
#inputBox label {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
#inputBox input[type=text] {
    background: black;
    height: 25px;
    width: 200px;
    border: 0;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive !important;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid black;
    border-bottom: 1px dashed white;
    padding-left: 5px;
}
#inputBox input[type=text]:focus {
    box-shadow: 0 0 5px rgba(18, 154, 255, 1);
    border: 1px solid rgba(18, 154, 255, 1);
}
#inputBox button {
    background: none;
    cursor: pointer;
    padding: 15px 25px;
    margin-top: 50px;
    color: white;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive !important;
    text-transform: uppercase;
}
#inputBox button:hover, #inputBox button:focus {
    color: #129aff;
    box-shadow: 0 0 5px rgba(18, 154, 255, 1);
    border: 1px solid rgba(18, 154, 255, 1);
}
#scoreBoard {
    position: absolute;
    width: calc(1080px * 0.8);
    height: 50px;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    color: white;
    display: none;
}
#scoreBoard #player1, #scoreBoard #player2 {
    position: absolute;
    top: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
#scoreBoard #player1 {
    left: 10px;
    text-align: left;
}
#scoreBoard #player1 span {
    color: #ff0df4;
}
#scoreBoard #player2 {
    right: 10px;
    text-align: right;
}
#scoreBoard #player2 span {
    color: #129aff;
}